{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}有名人詳細{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/detail.css">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h2>有名人詳細</h2>
    </div>
    <div class="container">
        <div class="flex-container">
            <img src="/assets/images/sample.png" alt=""/>
            <div class="profile">
                <h4>{{ result.name }}</h4>
                <img src="{{ result.image_url }}" class="img-fluid">
                <div class="status">
                  <div class="status_category">
                    <p>
                      <span><img src="/assets/images/sample.png" alt=""></span>
                      {% for categories in category_result %}
                        {{ categories.category }}{{ ' ' }}
                      {% endfor %}
                    </p>
                  </div>
                  <div class="status_speed">
                    <p>
                      <span><img src="/assets/images/sample.png" alt=""></span>
                      平均１日以内
                    </p>
                  </div>
                  <div class="status_rate">
                    <p>
                      <span><img src="/assets/images/sample.png" alt=""></span>
                      ６０％の返信
                    </p>
                  </div>
                </div>
            </div>
        </div>
        <div class="contents">
          <p>
            <div class="col">
                <h4>メモ</h4>
                <div class="row">
                    <div class="col">
                        {{ result.memo }}
                    </div>
                </div>
                <h4>誕生日</h4>
                <div class="row">
                    <div class="col">
                        {{ result.birthday }}
                    </div>
                </div>
                <h4>出身地</h4>
                <div class="row">
                    <div class="col">
                        {{ result.hometown }}
                    </div>
                </div>
                <h4>経歴</h4>
                <div class="row">
                    <div class="col">
                        {{ result.history }}
                    </div>
                </div>
                <h4>プライベート</h4>
                <div class="row">
                    <div class="col">
                        {{ result.private }}
                    </div>
                </div>
                <h4>エピソード</h4>
                <div class="row">
                    <div class="col">
                        {{ result.episode }}
                    </div>
                </div>
                <h4>交友関係</h4>
                <div class="row">
                    <div class="col">
                      {{ result.relationship }}
                    </div>
                </div>
            </div>
          </p>
        </div>
        <div class="icons">
          <a href="https://twitter.com/login?lang=ja"><img src="/assets/images/sample.png" alt=""/></a>
          <a href="https://www.facebook.com/"><img src="/assets/images/sample.png" alt=""/></a>
          <a href="https://www.facebook.com/"><img src="/assets/images/sample.png" alt=""/></a>
        </div>

        <!-- ログインしていた場合 -->
        <div id="message">
          <h2>メッセージを受取る</h2>

        {% if session.user_info == "" %}
          <div class="Login TalentShowLogin">
            <h1 class="Login__Title">
                メッセージを受け取るには
                <br>
                ログインが必要です
            </h1>
            <form class="LoginForm" method="POST" action="/login/">
                <div class="form-group LoginForm__Item">
                <input type="email" class="LoginForm__Input form-control" placeholder="メールアドレス" name="email" value={{ email }}>
                </div>
                <div class="form-group LoginForm__Item">
                <input type="password" class="LoginForm__Input form-control" placeholder="パスワード" name="password" value="" required>
                </div>
                <input type="submit" value="ログイン" class="btn btn--blue" />
            </form>
            <div>
                <a href="/login/">新規登録はこちら</a>
            </div>
        </div>
        {% else %}
          <!-- ログインしていた場合 -->
          <div id="message">
            <h2>メッセージを受取る</h2>

            <form method="post" action="/talent/{{ "1" }}/apply">

              {# <div class="cp_iptxt">
                <p class="cp_label">
                  氏名
                </p>
                <input type="text" placeholder="氏名">
              </div>
              <div class="cp_iptxt">
                <p class="cp_label">
                  ニックネーム
                </p>
                <input type="text" placeholder="ニックネーム">
              </div> #}
              <div class="cp_ipselect cp_sl01">
                <p class="cp_label">
                  カテゴリー選択
                </p>
                <select required name="type">
                  <option value="" hidden>カテゴリー選択</option>
                  <option value="失恋系">失恋系</option>
                  <option value="不慮の事故系">不慮の事故系</option>
                  <option value="痛い系">痛い系</option>
                  <option value="ケンカ・障害系">ケンカ・障害系</option>
                  <option value="紛失系">紛失系</option>
                  <option value="重い系">重い系</option>
                </select>
              </div>
              <div class="cp_iptxt cp_textarea">
                <p class="cp_label">
                  トラブル内容
                </p>
                <textarea class="form-control" name="content" rows="10" placeholder="トラブル内容"></textarea>
                <p>
                  ※有名人の方はここを見てメッセージを送るので、できるだけ詳しく書いてください。
                </p>
              </div>
              <div>
              <p>
                <input type="submit" value="お支払いページに進む"/>
              </p>

              </div>

            </form>
          </div>
        {% endif %}

        <!-- 新規登録の場合 -->


    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
