{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}有名人一覧{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/list.css">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>有名人一覧</h1>
    </div>
    <div class="cp_ipselect cp_sl01">
      <select required>
        <option value="" hidden>カテゴリー選択</option>
        <option value="1">アイドル</option>
        <option value="2">俳優</option>
        <option value="3">女優</option>
        <option value="4">モデル</option>
        <option value="5">舞台俳優</option>
      </select>
    </div>
    <h2>有名人一覧</h2>

  <div class="flex-container">
    {% for row in result1 %}

      <div class="box">
        <img src="{{ row.image_url }}" alt="">
        <div class="status">
          <div class="status_category">
            <p>
              <span><img src="/assets/images/sample.png" alt=""></span>
              {% for r2 in result2 %}
                {% if r2.talent_id == row.id %}
                {{r2.category}}
                {% endif %}
              {% endfor %}
            </p>
          </div>
          <div class="status_Speed">
            <p>
              <span><img src="/assets/images/sample.png" alt=""></span>
              １日以内
            </p>

          </div>
          <div class="status_rate">
            <p>
              <span><img src="/assets/images/sample.png" alt=""></span>
              ６０％の返信
            </p>
          </div>
        </div>
        <a href="talent/detail?id={{row.id}}"><h4>{{ row.name }}</h4></a>
      </div>

      {% endfor %}
      </div>

      <ul class="pageNav01">
        <li><a href="?1"> 最初 </a></li>
      {% for i in 1..max %}
      <!-- <p>forは動いてる</p> -->
          {% if i == now %}
            <li><span>{{i}}</span></li>
          {% elseif i>now-3 and i<now+3 %}
            <li><a href="?{{i}}"> {{i}} </a></li>
          {% endif %}
      {% endfor %}
      <li><a href="?{{max}}"> 最後 </a></li>
      </ul>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
