{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}


{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/recruitment_detail.css">
{% endblock %}

{% block page_content %}
<div class="Recruitment">
  <div class="Recruitment__Top">
    <img class="Recruitment__Img" src="
    {% for a1 in talent %}
      {% if  a1.id == offer_talent.talent_id %}
        {{ a1.image_url }}
      {% endif %}
    {% endfor %}
      " alt="">
    <ul class="RecruitmentStatus">
      <li class="RecruitmentStatus__Item">
        <p class="RecruitmentStatus__Title RecruitmentStatus__Title--money">
          集まっている金額
        </p>
        <p class="RecruitmentStatus__Content">
          {{ "100000" }}円
        </p>
      </li>

      <li class="RecruitmentStatus__Item">
        <p class="RecruitmentStatus__Title RecruitmentStatus__Title--clock">
          募集終了まで
        </p>
        <p class="RecruitmentStatus__Content">
          {{ "5日" }}
        </p>
      </li>

      <li class="RecruitmentStatus__Item">
        <p class="RecruitmentStatus__Title RecruitmentStatus__Title--person">
          依頼された有名人
        </p>
        <p class="RecruitmentStatus__Content">

              {% for a2 in talent %}
                {% if  a2.id == offer_talent.talent_id %}
                  {{ a2.name }}
                {% endif %}
              {% endfor %}
        </p>
      </li>

      <li class="RecruitmentStatus__Item">
        <p class="RecruitmentStatus__Title RecruitmentStatus__Title--person">
          依頼主
        </p>
        <p class="RecruitmentStatus__Content">
          {% for r2 in usr %}
            {% if r2.id == result.usr_id %}
              {{ r2.name }}
            {% endif %}
          {% endfor %}
        </p>
      </li>
    </ul>

    <ul class="RecruitmentSns RecruitmentSns--top">
      <li class="RecruitmentSns__Item">
        <a href="#">
          <img class="RecruitmentSns__Image" src="/assets/images/twitter_black.svg">
        </a>
      </li>
      <li class="RecruitmentSns__Item">
        <a href="#">
          <img class="RecruitmentSns__Image" src="/assets/images/facebook_black.svg">
        </a>
      </li>
    </ul>
  </div>
  <p class="Recruitment__Category">{{ result.type }}</p>
  <p class="Recruitment__Description">
    {{ result.content }}
  </p>
  <ul class="RecruitmentSns RecruitmentSns--bottom">
    <li class="RecruitmentSns__Item">
      <a href="#">
        <img class="RecruitmentSns__Image" src="/assets/images/twitter_black.svg">
      </a>
    </li>
    <li class="RecruitmentSns__Item">
      <a href="#">
        <img class="RecruitmentSns__Image" src="/assets/images/facebook_black.svg">
      </a>
    </li>
  </ul>

  <div class="Tab">
    <a href="/recruitment/{{ '1' }}" class="Tab__Item {{ type == 'cheering' ? 'Tab__Item--active--blue' : '' }}">支援する</a>
    <a href="/recruitment/{{ '1' }}/cheerer" class="Tab__Item {{ type == 'cheerer' ? 'Tab__Item--active--blue' : '' }}">支援者一覧</a>
  </div>

  {% if type == "cheerer" %}
        <ul class="Recruitment__Support">
      <li class="RecruitmentCard">
        <div class="RecruitmentCard__Top">
          <div class="RecruitmentCard__Left">
            <div class="RecruitmentCard__User">
              <img src={{"/assets/images/person_black.svg" }} class="RecruitmentCard__UserIcon">
              <p class="RecruitmentCard__UserName">
                {{ "takaaa220" }}
              </p>
            </div>
            <p class="RecruitmentCard__Date">{{ "2019年9月12日" }}</p>
          </div>
          <div class="RecruitmentCard__Right">
            <p class="RecruitmentCard__Money">{{ "100,000" }}円</p>
          </div>
        </div>
        <p class="RecruitmentCard__Content">
          {{ "頑張れ! 諦めるな！ 本当に諦めるな！ これからいいことあるぞ！ 頑張れ! 諦めるな！ 本当に諦めるな！ これからいいことあるぞ！" }}
        </p>
      </li>
      <li class="RecruitmentCard">
        <div class="RecruitmentCard__Top">
          <div class="RecruitmentCard__Left">
            <div class="RecruitmentCard__User">
              <img src={{"/assets/images/person_black.svg" }} class="RecruitmentCard__UserIcon">
              <p class="RecruitmentCard__UserName">
                {{ "takaaa220" }}
              </p>
            </div>
            <p class="RecruitmentCard__Date">{{ "2019年9月12日" }}</p>
          </div>
          <div class="RecruitmentCard__Right">
            <p class="RecruitmentCard__Money">{{ "100,000" }}円</p>
          </div>
        </div>
        <p class="RecruitmentCard__Content">
          {{ "頑張れ! 諦めるな！ 本当に諦めるな！ これからいいことあるぞ！ 頑張れ! 諦めるな！ 本当に諦めるな！ これからいいことあるぞ！" }}
        </p>
      </li>
      <li class="RecruitmentCard">
        <div class="RecruitmentCard__Top">
          <div class="RecruitmentCard__Left">
            <div class="RecruitmentCard__User">
              <img src={{"/assets/images/person_black.svg" }} class="RecruitmentCard__UserIcon">
              <p class="RecruitmentCard__UserName">
                {{ "takaaa220" }}
              </p>
            </div>
            <p class="RecruitmentCard__Date">{{ "2019年9月12日" }}</p>
          </div>
          <div class="RecruitmentCard__Right">
            <p class="RecruitmentCard__Money">{{ "100,000" }}円</p>
          </div>
        </div>
        <p class="RecruitmentCard__Content">
          {{ "頑張れ! 諦めるな！ 本当に諦めるな！ これからいいことあるぞ！ 頑張れ! 諦めるな！ 本当に諦めるな！ これからいいことあるぞ！" }}
        </p>
      </li>
    </ul>
    <ul class="pagination Recruitment__Pagination">
      <li class="page-item"><a class="page-link" href="#">前へ</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">次へ</a></li>
    </ul>
  {% elseif session.user_info == "" %}
    <div class="RecruitmentLogin">
      <h3 class="RecruitmentLogin__Title">
        この不幸な人を支援するには
        <br>
        ログインが必要です
      </h3>
      <form class="RecruitmentForm" method="POST" action="/login/">
        <div class="form-group RecruitmentForm__Item">
          <input type="email" class="RecruitmentForm__Input form-control" placeholder="メールアドレス" name="email">
        </div>
        <div class="form-group RecruitmentForm__Item">
          <input type="password" class="RecruitmentForm__Input form-control" placeholder="パスワード" name="password">
        </div>
        <input type="submit" value="ログイン" class="btn btn--blue" />
      </form>
      <div>
        <a href="/login/">新規登録はこちら</a>
      </div>
    </div>
  {% else %}
    <h3 class="Recruitment__Apply">この不幸な人を支援する</h3>
    <form class="RecruitmentForm">
      <div class="form-group RecruitmentForm__Item">
        <label for="price" class="RecruitmentForm__Label">支援額</label>
        <input type="number" id="price" class="RecruitmentForm__Input form-control" placeholder="1000">
      </div>
      <div class="form-group RecruitmentForm__Item">
        <label for="name" class="RecruitmentForm__Label">応援メッセージ</label>
        <textarea class="RecruitmentForm__Textarea form-control" placeholder="応援メッセージ"></textarea>
      </div>
      <input type="submit" value="決済ページへ" class="btn btn--blue" />
    </form>
  {% endif %}
</div>

{% endblock %}
