{% extends "layout/layout.twig" %}


{% block header_scripts_add %}
  <link rel="stylesheet" href="/assets/css/recruitment_list.css">
{% endblock %}

{% block page_content %}
  <div class="RecruitList">
    <div class="Tab">
      <a href="/talent/list/" class="Tab__Item Tab__Item">有名人を探す</a>
      <a href="#" class="Tab__Item Tab__Item--active--blue">不幸な人を探す</a>
    </div>

    <select class="Select form-control">
      <option value="0">失恋した</option>
      <option value="1">痛い</option>
      <option value="2">大切な人を亡くした</option>
      <option value="3">紛失した</option>
      <option value="4">病気になった</option>
    </select>

    <h1 class="RecruitList__Title">{{ "失恋した" }} 不幸な人一覧</h1>

    <ul class="RecruitListCards">

      {% for row in result %}

      <li class="RecruitListCard">
        <a href= "/recruitment/{{row.id}}" class="RecruitListCard__Link">
          <p class="RecruitListCard__Content">
            {{row.content}}
            ...
          </p>
          <ul class="RecruitListCardStatus">
            <li class="RecruitListCardStatus__Item RecruitListCardStatus__Item--flag">{{ row.type }}</li>
            <li class="RecruitListCardStatus__Item RecruitListCardStatus__Item--clock">残り: {{ "5日" }}</li>
            <li class="RecruitListCardStatus__Item RecruitListCardStatus__Item--money">{{ "10000" }} 円</li>
          </ul>
          <div class="RecruitListCardUser">
            <p class="RecruitListCardUser__Name">{{ "広瀬すず" }}</p>
            <img src="/assets/images/arrow_black.svg" class="RecruitListCardUser__Arrow">
            <div class="RecruitListCardUser__Block">
              <img src={{ "/assets/images/person_black.svg" }} class="RecruitListCardUser__Icon">
              {% for r2 in usr %}
                {% if r2.id == row.usr_id %}
                  <p class="RecruitListCardUser__Name">{{ r2.name }}</p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </a>
      </li>
      {% endfor %}

    </ul>

    {#ページング#}
    <ul class="pagination RecruitList__Pagination">
        <li class="page-item"><a class="page-link" href="recruitment?{{1}}"> 最初 </a></li>
      {% for i in 1..max %}
          {% if i == now %}
            <li class="page-item"><a class="page-link">{{i}}</a></li>
          {% elseif i>now-3 and i<now+3 %}
            <li class="page-item"><a class="page-link" href="recruitment?{{i}}">{{i}}</a></li>
          {% endif %}
      {% endfor %}
      <li class="page-item"><a class="page-link" href="recruitment?{{max}}"> 最後 </a></li>
    </ul>

  </div>
{% endblock %}
